.card{
    width: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(19, 19, 65);
    

}

.headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}


.contCard{
    
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;
    
  
}

.title{
    color: aliceblue;
}
.price{
    margin:  5%;
    font-size: 30px;
    color: aliceblue;
}
.image{
   margin: 10% 5%;
   width: 200px;
}
.actionscard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.buttonCard{
    margin: 0% 2%;
}