.container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    padding: 2%;
    
    background-color: rgb(39, 39, 193);
}
.subcontainer{
    flex-wrap: wrap;
    display: flex;
    font-family: serif;
    font-size: 40px;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.searchContainer{
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    margin-top: 2%;
}

.actions{
    margin-top: 2%;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}
.input-icon {
	color: #191919;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
}