.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subcont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    background-color: rgb(53, 53, 96);
    width: 95%;
}

body{
    
    background-color: rgb(78, 78, 207);
}